#myCarousel.carousel
  .carousel-inner
    .item.active
      %img.first-slide{src: "https://static.pexels.com/photos/7085/desk-notebook-office-macbook.jpg"}
      .container
        .carousel-caption
          %h1 Herbert
          %p
            The bestest thingy ever
          %p
            %a{href: "https://slack.com/oauth/authorize?scope=incoming-webhook,bot&client_id=41856466277.41899110561"}
              %img{alt: "Add to Slack", height: "40", width: "139", src: "https://platform.slack-edge.com/img/add_to_slack.png", srcset: "https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"}
.container.marketing
  .row
    .col-lg-4
      %span.emoji 💻
      %h2 Mad Hacks
      %p Hacks your bank account and gives us all your money
    .col-lg-4
      %span.emoji 🤖
      %h2 Bots
      %p They're the new hot thing, right?
    .col-lg-4
      %span.emoji 💵
      %h2 Money!
      %p Money money money
