#fakeSlack {
  height: 20em;
  border-radius: 1em;
  padding: 1em;
}

#fakeSlack .message_area {
  padding: 0.5em;
  color: #333;
  height: 20em;
  overflow: scroll;
}

.message + .message {
  border-top: 1px solid #777;
}

footer {
  display: none;
}