#fakeSlack {
  height: 20em;
  background-color: #ffffff;
  border-radius: 1em;
}

#fakeSlack > .message_input {
  border: none;
  border-radius: 0px;
  overflow: auto;
  outline: none;

  box-shadow: none;
}
